h1 {
  background-color: rgb(21, 21, 131);
  font-size: 40px;
  color: aliceblue;
  padding: 20px;
  text-align: center;
  font-weight: bold;
}


/* Makes it so there's no underline under the hyperlink */
/* a {
    text-decoration: none;
  } */

/* Media Query Example */
/* @media screen and (max-width: 992px) {
  h2 {
      font-size: 200%;
  } */