h1 {
  background-color: rgb(21, 21, 131);
  font-size: 35px;
  color: aliceblue;
  padding: 15px;
  text-align: center;
  font-weight: bolder;
  width: 98vw;
}

.main-display {
  display:inline-flex;
  padding: 0;
  margin: 0;
  width: 98vw;
}

.left-side-display {
  width: 35%;
  padding: 10px;

  /* background-color: blueviolet; */
}

.right-side-display {
  width: 65%;
  padding: 10px;

  /* background-color: blueviolet; */
}

h2 {
  font-size: 25px;
  font-weight: bold;
}

#searchBox {
  display: inline-flex;
  width:75%; 
  margin: 0px;
}

#stateSearchBox {
  display: inline-flex;
  float: right;
  width: 23%; 
  margin: 0px;
}

#errorText {
  margin-top: 10px;
  margin-bottom: 0%;
  font-style: italic;
  font-weight: bold;
  color: red;

  display: none;
}

.btn {
  background-color: rgb(168, 168, 168);
  color: black;
  margin-top: 15px;
  font-size: 18px;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  width:100%;
  border: none;
}

.btn:hover {
  background-color: rgb(201, 201, 201);
}

#searchBtn {
  background-color: rgb(0, 132, 255);
  color: aliceblue;
}

#searchBtn:hover {
  background-color: rgb(75, 174, 231);
}

#divLine {
  background-color: rgb(56, 56, 56);
  width: 100%;
  height: 2px;
  margin-top: 15px;
}

p {
  display: inline-flex;
}

h3 {
  font-size: 20px;
  font-weight: bold;
}

#day0-title {
  display: inline-flex;
}

#day0-title h3 {
  padding-right: 5px;
}

.location-fiveDayForecastCards {
  display: flex;
  flex-wrap: wrap;
}

#location-fiveDayForecastTitle {
  padding-left: 5px;
}

.forecastCard {
  background-color: rgb(21, 21, 131);
  margin: 5px;
  padding: 5px;
  color:aliceblue;
  flex-grow: 1;
  min-width: 17%;
}

h4 {
  font-size: 14px;
  font-weight: bold;
}

.forecastCard p {
  font-size: 12px;
}

.location-overview {
  border: 2px solid rgb(56, 56, 56);
  border-radius: 5px;
  padding: 10px;
  padding-top: 15px;
  margin-bottom: 10px;
}

.weatherIcon {
  max-width: 40px;
}

#recentSearch1 {
  display: none;
}
#recentSearch2 {
  display: none;
}
#recentSearch3 {
  display: none;
}
#recentSearch4 {
  display: none;
}
#recentSearch5 {
  display: none;
}
#recentSearch6 {
  display: none;
}
#recentSearch7 {
  display: none;
}
#recentSearch8 {
  display: none;
}

#location-fiveDayForecast {
  display: none;
}
#location-overviewCurrent {
  display: none;
}


/* Makes it so there's no underline under the hyperlink */
/* a {
    text-decoration: none;
  } */

/* Media Query Example */
/* @media screen and (max-width: 992px) {
  h2 {
      font-size: 200%;
  } */